
@{
    ViewBag.Title = "MenuAdministrador";
}


    <h2 class="login-header">Menu Administrador</h2>



<div id="menuclientesa">
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuCliente")'"><span>Menu de Clientes</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuProductor")'"><span>Menu de Productor</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuTransportista")'"><span>Menu de Transportistas</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuSubastas")'"><span>Subastas</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuPedidos")'"><span>Ventas</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuCompras")'"><span>Pagos</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("MenuInformes")'"><span>Informes</span></button>
    



</div>
